*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}


.logo{
    width: 250px;
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    color: white;
    display:block;
    margin-left: auto;
    margin-top: -0.5em;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 95%;
    max-width: 70rem;
    margin: 0 auto;
}

.clearfix::after, 
section::after,
footer::after{
    content:'';
    display: block;
    clear: both;
}
/*typography
****************/
h1{
    font-weight: 300;
    font-size: 1.9rem;
    margin-top: 0;
}

p{
    line-height: 1.5em;
}

.title{
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top:1em;
}
.title span{
    font-weight: 300;
    display: block;
    font-size: 0.8em;
}
.title-cta{
    margin: 0 0 .7em;
}


.text-centered{
    text-align: center;
}

.first-letter{
    font-size: 1.6em;
    color: #00ff6c;
}

.familyname{
    display:block;
   margin-left: -1.8em;
   margin-top: -2em;
}

.firstname{
    margin-left: 2em;
}

@media (min-width: 60rem) {
    .title{
        font-size: 3.7rem;
    }
    p{
        margin-top: 0;
        font-size: 1.2rem;
        line-height: 1.6em;
    }
    p:last-of-type{
        margin-bottom: 0;
    }

    .familyname{
        display:block;
       margin-left: -2em;
       margin-top: -2em;
    }
    .firstname{
        margin-left: 2em;
    }
}



/*Column System
****************/
[class^=col-]{
    width: 100%;
    margin-top: 1em;

}

[class^=col-]:first-child{
    margin-top: 0;
}

.col-1{
    width: 33.3333%;
    float: left;
}



@media(min-width: 40rem){
    [class^=col-]{
        float: left;
        padding: .5em;
        margin-top: 0;
    }

    [class^=col-]:first-child{
        padding-left: 0;
    }
    [class^=col-]:last-child{
        padding-right: 0;
    }

    .col-3{
        width: 50%;
    }
    .col-1{
        width: 16.6666%;
    }
}


/*buttons
****************/
.button{
    display: inline-block;
    font-size: 1.5 rem;
    border: 2px solid;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em 2em;
}

@media(min-width:60rem){
    .button{
        font-size: 1.5rem;
    }
}

.button-small{
    font-size: .7rem;
    font-weight: 700;
}

.button-accent{
    color: #00FF6c;
    background: rgba(0,0,0,0.3)
}
.button-accent:hover,
.button-accent:focus{
    background: #00FF6c;
    color:#232323;

}


.button-dark{
    color: #232323;
}
.button-dark:hover,
.button-dark:focus{
    background: #232323;
    color:#00ff6c;

}






/*header
****************/
header{
    position: absolute;
    left:0;
    right: 0;
    margin: 1em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: white;
}

nav a:hover,
nav a:focus{
    color: #DDD;
}

@media (min-width: 60rem) {
    .logo{
        float: left;
    }
    nav{
        float: right;
    }
}

/*home-hero
****************/

.home-hero{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: white;
}

@media(min-width:60rem){
    .home-hero{
        height: 100vh;
        padding-top: 33vh;
    }
}

/*home-about
****************/

.home-about-textbox{
    background-color:#232323;
    padding: 3.8rem;
    width: 100vw;
    margin-left: -2.6%;
    outline: 2px solid #00FF6c;
    outline-offset: -2.5em;
    color: #FFF;
    position: relative;
}
.home-about-textbox h1{
    color: #00FF6c;
    position: absolute;
    top: .6em;
    left: 50%;
    transform: translateX(-50%);
    background: #232323;
    padding: 0 0.2em;
}

@media(min-width: 25rem){
    h1{
        font-size: 2rem;
    }

    .home-about-textbox h1{
        top: .5em;
        padding: 0 .5em;
    }

}


@media(min-width: 60rem){
    h1{
        font-size: 2.5rem;
    }

    .home-about{
        background: url(../img/woman.jpg) no-repeat;
        padding-bottom: 10em;
    }

    .home-about-textbox{
        width: 50%;
        padding: 5em;
        outline-offset: -3em;
        margin-left: -2.6%;
        top: -4em; 
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
    }
    
    .home-about-textbox h1{
        top: .5em;
        left: 3.5rem;
        transform: translateX(0);
    }


  

}


/*portfolio
****************/
.portfolio{
    margin: 3em 0 0 0;
}


.port-item{
    margin: 0;
    position: relative;
}

.port-item img{
    display: block;
}

.port-desc{
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    padding: .5em 1em 1em 2em;
    color: white;
    background-color: rgba(0,0,0,.60);
}

.port-desc p{
    margin: .5em;
}

@media(min-width: 37rem){
    .port-item{
        width: 50%;
        float: left;
    }
}   

@media(min-width: 60rem){
    .port-item{
        width: 33.33333%;
        overflow: hidden;
       
    }
    .port-desc{
        transform: translateY(150%);
    }

    .port-item:hover .port-desc{
        transform: translateY(0);
    }
}

/*cta
****************/
.cta{
    background-color: #00FF6c;
    padding: 5em 0;
}

/*footer
****************/
footer{
    background: #232323;
    color: #fff;
    text-align: left;
    padding: 5em 0;
}